@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CarotSlab";
  src: url(../public/fonts/Carot\ Slab\ Medium.ttf);
}
@font-face {
  font-family: "TTChocolates";
  src: url(../public/fonts/TT\ Chocolates\ Trial\ Light.otf);
}
@font-face {
  font-family: "TTChocolatesMedium";
  src: url(../public/fonts/TT\ Chocolates\ Trial\ Regular.otf);
}
@font-face {
  font-family: "TTChocolatesBold";
  src: url(../public/fonts/TT\ Chocolates\ Trial\ Medium.otf);
}
@font-face {
  font-family: "DKAppelstroop";
  src: url(../public/fonts/DK\ Appelstroop.otf);
}
@font-face {
  font-family: "ExtraWide";
  src: url(../public/fonts/fonnts.com-Roc_Grotesk_ExtraWide_Medium.otf);
}
@font-face {
  font-family: "Helvetica";
  src: url(../public/fonts/HelveticaNowDisplay-Light.ttf);
}
@font-face {
  font-family: "GoudyCatalogue";
  src: url(../public/fonts/GoudyCatalogueMTProItalic.TTF);
}
@font-face {
  font-family: "LevSerif";
  src: url(../public/fonts/LevSerif-Italic.ttf);
}
@font-face {
  font-family: "LevSerifBold";
  src: url(../public/fonts/LevSerif-BoldItalic.ttf);
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.shadoww {
  box-shadow: 4px 4px 8px 10px rgba(0, 0, 0, 0.25);
  text-shadow: 4px 4px 8px 10px rgba(0, 0, 0, 0.25);
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  color: white;
  font-family: "TTChocolates";
  overscroll-behavior: none;
}
::-webkit-scrollbar {
  width: 6px;
  --tw-bg-opacity: 0.8;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 10px;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

span {
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.checked span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(4px, 0px);
}

.checked span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

.checked span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(13.5px, -4.5px) rotatez(45deg);
}
.banner-animation {
  animation: banner-animate 40s ease-in infinite;
}

@keyframes banner-animate {
  0% {
    background-image: url("../public/Homepage/BannerHome/BannerImage1.webp");
  }
  20% {
    background-image: url("../public/Homepage/BannerHome/BannerImage2.webp");
  }
  40% {
    background-image: url("../public/Homepage/BannerHome/BannerImage3.webp");
  }
  60% {
    background-image: url("../public/Homepage/BannerHome/BannerImage4.webp");
  }
  80% {
    background-image: url("../public/Homepage/BannerHome/BannerImage5.webp");
  }
  100% {
    background-image: url("../public/Homepage/BannerHome/BannerImage6.webp");
  }
}
.backgroundScroll {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(
      0deg,
      rgba(0, 122, 131, 0.8) 0%,
      rgba(0, 122, 131, 0.8) 100%
    ),
    url(../public/Homepage/ScrollSection/BackgroundImageScroll.png) lightgray
      50% / cover no-repeat;
}
.backgroundScrollSports {
  background: url(../public/infrastructure/computerScience/background.png)
    lightgray 50% / cover no-repeat;
}

.backgroundVirtual {
  border-radius: 25px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(
      0deg,
      rgba(0, 122, 131, 0.44) 0%,
      rgba(0, 122, 131, 0.44) 100%
    ),
    url(../public/Homepage/Virtual/stats.png) lightgray 50% / cover no-repeat;
  box-shadow: 0px 4px 25px 15px rgba(0, 0, 0, 0.25);
}
.textShadow {
  text-shadow: 0px 4px 40px #007a83;
}
@keyframes translateIn {
  from {
    transform: translateY(10vh);
  }
  to {
    transform: translateY(0vh);
  }
}

.translate-in {
  animation: translateIn 0.5s ease-out;
}

.card-group:hover .slide-in {
  animation: slideIn 0.8s ease-out;
  display: block;
}

@keyframes slideIn {
  from {
    display: none;
    transform: translateY(15vh);
    /* opacity: 0.5; */
  }
  to {
    display: block;
    transform: translateY(0);
    /* opacity: 1; */
  }
}
table {
  border-collapse: collapse;
  width: fit-content;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.7); */
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fff;
}

th,
td {
  border: 1px solid #fff;
  padding: 18px;
  text-align: left;
}
td {
  padding: 15px;
  color: white;
}
th {
  border: 1px solid #3d001b;
  font-size: 18px;
  text-align: center;
}
th {
  background-color: #fff;
  color: #3d001b;
}

.total-row {
  font-weight: bold;
  background-color: #fff;
  border-top: 2px solid #fff;
}

.total-row td {
  border-top: none;
}

input[type="radio"]:checked + label span {
  background-color: white;
  box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked + label {
  color: white;
}
::-webkit-scrollbar {
  display: none;
}
select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select.classic {
  background-image: linear-gradient(45deg, transparent 50%, #d9d9d9 50%),
    linear-gradient(135deg, #d9d9d9 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1.2em + 2px),
    calc(100% - 15px) calc(1.2em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 2em;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
  th,
  td {
    padding: 8px;
  }
  td {
    padding: 6px;
    font-size: 10px;
  }
  th {
    font-size: 12px;
  }
}

.grid-item {
  perspective: 1000px;
  transition: all 0.4s ease-in;
}
.grid-item .image-overlay {
  backface-visibility: hidden;
  transition: transform 0.8s ease-in-out;
  justify-content: space-between;
}
.grid-item .flip-image {
  text-align: left;
  transition: transform 0.5s ease-in-out;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  pointer-events: none;
}

.grid-item:hover .flip-image .textShow {
  animation: textFlip 800ms;
  transform: rotateY(180deg);
}
.grid-item:hover .image-overlay {
  transform: rotateY(180deg);
}
.grid-item:hover .flip-image {
  pointer-events: auto;
  transform: rotateY(0deg);
}

@keyframes textFlip {
  0% {
    opacity: 0;
    transform: rotateY(0deg);
  }
  60% {
    opacity: 0;
    transform: rotateY(180deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(180deg);
  }
}
