@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CarotSlab";
  src: url(../public/fonts/Carot\ Slab\ Medium.ttf);
}
@font-face {
  font-family: "TTChocolates";
  src: url(../public/fonts/TT\ Chocolates\ Trial\ Light.otf);
}
@font-face {
  font-family: "TTChocolatesBold";
  src: url(../public/fonts/TT\ Chocolates\ Trial\ Medium.otf);
}
@font-face {
  font-family: "DKAppelstroop";
  src: url(../public/fonts/DK\ Appelstroop.otf);
}
@font-face {
  font-family: "ExtraWide";
  src: url(../public/fonts/fonnts.com-Roc_Grotesk_ExtraWide_Medium.otf);
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}
/* body::-webkit-scrollbar {
  width: 6px;
  --tw-bg-opacity: 0.8;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #007a83;
  border-radius: 10px; 
} */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.image-gradient {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),
              linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),
              linear-gradient(0deg, rgba(0, 122, 131, 0.00) 0%, rgba(0, 122, 131, 0.76) 59.07%),
              url('/public/AboutDehradun/background.png') lightgray -243.692px 0px / 128.205% 106.526% no-repeat;
}

span {
  transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.checked span:nth-of-type(1) {
  transform-origin: bottom;
  transform: rotatez(45deg) translate(3.5px, 0px);
}

.checked span:nth-of-type(2) {
  transform-origin: top;
  transform: rotatez(-45deg);
}

.checked span:nth-of-type(3) {
  transform-origin: bottom;
  width: 50%;
  transform: translate(13px, -5px) rotatez(45deg);
}
.backgroundScroll {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(
      0deg,
      rgba(0, 122, 131, 0.8) 0%,
      rgba(0, 122, 131, 0.8) 100%
    ),
    url(../public/Homepage/ScrollSection/BackgroundImageScroll.png) lightgray
      50% / cover no-repeat;
}
.backgroundVirtual {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url(../public/Homepage/Virtual/BackgroundVirtual.png) lightgray 0px -225.15px /
      100% 130% no-repeat;
}
@keyframes translateIn {
  from {
    transform: translateY(10vh);
  }
  to {
    transform: translateY(0vh);
  }
}

.translate-in {
  animation: translateIn 0.5s ease-out;
}

.card-group:hover .slide-in {
  animation: slideIn 0.8s ease-out;
  display: block;
}

@keyframes slideIn {
  from {
    display: none;
    transform: translateY(15vh);
    /* opacity: 0.5; */
  }
  to {
    display: block;
    transform: translateY(0);
    /* opacity: 1; */
  }
}
/* @media (max-width: 768px) { */
  /* ::-webkit-scrollbar {
    display: none;
  } */
/* } */
